@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@keyframes gear-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}



.container h1 {
    font-size: 5rem;
    text-align: center;
}

.font-amatic {
    font-family: 'Amatic SC', cursive;
}

.info {
    position: fixed;
    top: 0;
    left: 30%;
    right: 30%;
    width: 40%;
    margin: 0 auto;
    z-index: 4;
    height: auto;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.4s ease-in-out;
}

.info.show {
    transform: translateY(0);
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgb(180, 180, 180);
    opacity: 0.9;
}

#loading h1 {
    color: white;
    font-weight: bold;
    margin-top: 40vh;
    opacity: 1;
}

#gear {
    margin-left: 1rem;
    animation: gear-rotate 2s linear infinite;
}

.hidden {
    visibility: hidden;
}

#root {
    width: 80vw;
    height: auto;
    margin: 10vh auto;
}

@media screen and (max-width: 400px) {
    #root {
      width: 100vw;
      margin: auto;
    }
    .container h1 {
      margin-top: 5rem;
    }
    .sm {
      font-size: 0.7rem !important;
    }
}